{% set base = '/php/chef_hamid/assets/' %}
{% extends "template.html.twig" %}
{% block header %}
    {% include 'header.html.twig' %}
    {% endblock %}
{% block title %} {% endblock %}
{% block stylesheet %}<link href="{{ base }}css/style.css" rel="stylesheet">{% endblock %}


{% block content %}

  <h1>NOUVELLE RECETTES A TESTER</h1>
<ul>
{% for recipe in recipes %}
<li><a href="{{ link }}{{ recipe.recipes_id }}">
<figure classe=" Salade-grecque">
        <img src = "{{ base }}img/{{ recipe.thumbnail }}" alt ="images">
        <p> {{ recipe.title }}</p>
  </figure>

</a></li>
{% endfor %}
</ul>

 {% endblock %}